.app {
    display: flex;
    width: 100%;
}

.menu {
    display: flex;
    width: 5%;
    padding-top: 3%;
    justify-content: left;
}

.sidebar {
    display: block; 
}

.navigation {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top_panel {
    height: 73px;
}

.profile_image {
    display: flex;
    width: 123px;
    height: 123px;

    justify-content: center;
    margin-bottom: 20px;

    border-radius: 16px;

    background-color: #FFFFFF;
}

.profile_name {
    display: flex;
    width: 361px;
    height: 32px;

    font: 500 32px/32px "Golos UI";
    letter-spacing: -0.25px;
    size: 32px;
    text-align: center;

    justify-content: center;

    margin-top: 0px;
    margin-bottom: 10px;
}

.description {
    display: flex;
    width: 361px;
    height: 36px;

    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 0px;
    margin-bottom: 12px;
}

.posts_counter {
    display: flex;
    justify-content: center;

    width: fit-content;
    height: 30px;
    border-radius: 6px;

    /* padding: 6px 10px 6px 10px; */
    align-items: center;
    margin-bottom: 42px;
    
    background-color: #F2F3F5;
}

.image {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 7px 6px 7px 10px;
}

.counter_text {
    height: 18px;

    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    margin-right: 10px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 990px;
    gap: 2.48px;
}

.post_image {
    width: 322.35px;
    height: 322.35px;
    border-radius: 2px;
    background-color: #B4B4B4;
}