@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.profile_image {
    width: 123px;
    height: 123px;
    top: 97px;
    left: 658.5px;
    border-radius: 16px;

    background-color: #FFFFFF;
}

.profile_name {
    width: 361px;
    height: 32px;
    top: 240px;
    left: 549.5px;

    font: 500 32px/32px "Golos Text";
    letter-spacing: -0.25px;
    size: 32px;
}

.description {
    width: 361px;
    height: 36px;
    top: 282px;
    left: 539.5px;

    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
}

.posts_counter {
    width: 101px;
    height: 30px;
    top: 330px;
    left: 669.5px;
    border-radius: 6px;

    padding: 6px 10px 6px 10px;
    gap: 6px;
}

.posts_counter .image {
    width: 16px;
    height: 16px;
}

.posts_counter .counter_text {
    width: 59px;
    height: 18px;

    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
}

.posts {
    top: 402px;
    left: 234px;
    gap: 2.48px;
}

.post_image {
    width: 322.35px;
    height: 322.35px;
    border-radius: 2px;
    background-color: #B4B4B4;
}