@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.login_text {
    font: 700 140px/180px "Golos Text";
    letter-spacing: -1.5px;
}

.title_image {
    width: 452px;
    height: 501px;
}

.pass_img {
    width: 24px;
    height: 24px;
}

.field_title {
    display: block;
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    color: #222222;
}

.description {
    font: 400 13px/16px "Golos Text";
    letter-spacing: -0.08px;
    color: #808080;
}

.field {
    margin-bottom: 16px;
}

.input {
    display: block;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 13px 12px;

    width: 343px;
    height: 44px;
    border-radius: 10px;
    justify-content: space-between;

    /* padding: 13px 12px; */
    
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;

    transition: 0.3s ease;
    outline: none;

    background-color: #F2F3F5;
    border: 1px solid #F2F3F5;
}

.continue {
    display: block;
    
    margin-top: 32px;
    padding: 14.5px;

    width: 343px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #222222;
    background-color: #222222;

    transition: border, background-color 0.3s ease;

    cursor: pointer;
}

.continue:focus {
    border: 1px solid #3F8AE0;
}

.continue:disabled {
    border: 2px solid #B4B4B4;
    background-color: #B4B4B4;
}

.input-error {
    border: 1px solid #E64646;
}

.continue .continue_button_text {
    font: 500 16px/100% "Golos Text";
    letter-spacing: 0%;

    color: #FFFFFF;
}