* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    
    gap: 107px;
}

.header {
    display: flex;
    position: relative;
}

.text-container {
    position: absolute;

    top: -106.63px;
    left: -90px;
    width: 100%;
    height: 100%;
}

.text-container__login-text {
    display: flex;
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;

    font: 700 140px/180px "Golos UI";
    letter-spacing: -1.5px;
    color: #222222;
}

.header__title-image {
    width: 452px;
    height: 501px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
}

.input-field {
    width: 343px;
    /* height: 18px; */
    margin-bottom: 16px;
}

.field-email__input {
    margin-bottom: 5px;
}

.field-email__title {
    display: block;
    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    margin-bottom: 5px;
    color: #222222;
}

.description {
    font: 400 13px/16px "Golos UI";
    letter-spacing: -0.08px;
    color: #808080;

    margin-bottom: 16px;
}



.field-password {
    /* position: relative; */
    margin-bottom: 32px;
}

.field-password__title {
    display: block;
    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    margin-bottom: 5px;
    color: #222222;
}

.password-container {
    position: relative;
    /* width: 100%;
    height: 100%;

    right: 12px; */
}

.password-img-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* position: absolute;
    width: 100%;
    height: 100%; */
}

.password-container__toggle-password-view {
    position: absolute;  /* Теперь кнопка позиционируется относительно .password-container */
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    /* border: none;
    margin-right: 12px;
    padding: 0px;
    background-color: #F2F3F5;
    cursor: pointer;
    pointer-events: auto; */
}

.password-container__pass-img {
    width: 24px;
    height: 24px;
}

.password-container__input {
    width: 100%;
    box-sizing: border-box;
}

.password-container__input, .field-email__input {
    display: block;

    width: 100%;
    box-sizing: border-box;

    padding: 13px 12px;

    border-radius: 10px;

    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;
    color: #222222;

    transition: 0.3s ease;
    outline: none;

    background-color: #F2F3F5;
    border: 1px solid #F2F3F5;
}

.continue {
    display: block;
    
    padding: 14.5px;

    width: 343px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #222222;
    background-color: #222222;

    transition: border, background-color 0.3s ease;

    cursor: pointer;
}

.continue__button-text {
    font: 500 16px/100% "Golos UI";
    letter-spacing: 0%;

    color: #FFFFFF;
}

.continue:focus {
    border: 1px solid #3F8AE0;
}

.continue:disabled {
    border: 2px solid #B4B4B4;
    background-color: #B4B4B4;
}

.input-error {
    border: 1px solid #E64646;
}