#greet_line {
    text-align: center;
    
}

.phpver {
    text-align: center;
}

body {
    font-size: 48pt;
    color:white;

    background-image: url("../static/msc2.png");
    background-size: cover;
}