.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;

    overflow: visible;
}

.modal-image-wrapper__content {
    max-width: 100%;
    max-height: 100%;

    min-width: 636px;

    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.modal-slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-slider__button-prev {
    left: 16px;
}

.modal-slider__button-next {
    right: 16px;
}

/* .modal-image-wrapper__counter-text {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 12px;
    padding: 4px 10px;
    color: white;
    font: 400 14px/18px "Golos UI";
} */

.modal-image-wrapper__counter-text {
    position: absolute;
    top: 100%;
    margin-top: 24px;
    left: 50%;
    /* transform: translateX(-50%); */
    color: #FFFFFF;
    font: 400 14px/18px "Golos UI";
    background: none;
    padding: 0;
}

/* .modal-image-wrapper__close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
} */
/* .modal-image-wrapper__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(16px, -16px);
    font-size: 32px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1001;
} */
.modal-image-wrapper__close {
    position: absolute;
    top: calc(-24px - 16px);
    right: 0px;

    width: 24px;
    height: 24px;

    color: #FFFFFF;
    cursor: pointer;
}

.modal.hidden,
.modal-slider__button-prev.hidden,
.modal-slider__button-next.hidden,
.modal-image-wrapper__counter-text.hidden {
    display: none;
}