.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;

    overflow: visible;
}

.modal-image-wrapper__content {
    max-width: 100%;
    max-height: 100%;

    min-width: 636px;

    object-fit: contain;
}

.modal-slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-slider__button-prev {
    left: 16px;
}

.modal-slider__button-next {
    right: 16px;
}

.modal-image-wrapper__counter-text {
    position: absolute;
    top: 100%;
    margin-top: 24px;
    left: 50%;
    /* transform: translateX(-50%); */
    color: #FFFFFF;
    font: 400 14px/18px "Golos UI";
    background: none;
    padding: 0;
}

.modal-image-wrapper__close {
    position: absolute;
    top: calc(-24px - 16px);
    right: 0px;

    width: 24px;
    height: 24px;

    color: #FFFFFF;
    cursor: pointer;
}

.modal.hidden,
.modal-slider__button-prev.hidden,
.modal-slider__button-next.hidden,
.modal-image-wrapper__counter-text.hidden {
    display: none;
}