.app {
    display: flex;
    width: 100%;
}

.menu {
    display: flex;
    width: 5%;
    padding-top: 3%;
    justify-content: left;
}

.sidebar {
    display: block;
}

.navigation {
    display: block;
    width: 40px;
    height: 40px; 
    margin-bottom: 16px;
}

.content {
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top_panel {
    width: 100%;
    height: 10vh;
}

.post {
    display: flex;
    flex-direction: column;
    width: 474px;
    margin-bottom: 3%;
}

.post_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 16px; */
}

.profile_image {
    width: 32px;
    height: 32px;
    border-radius: 6px;

    margin-right: 10px;

    vertical-align: sub;
}



.account_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 500 14px/18px "Golos UI";
    letter-spacing: -0.15px;
    height: 32px;
    /* padding-top: 7px;
    padding-bottom: 7px; */
}

.edit {
    width: 24px;
    height: 24px;

    /* TODO: Удалить при сдаче!!! */
    /* margin-left: 304px; */
}


.post_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.post_img_container {
    margin-bottom: 16px;
}

.post_img_container .indicator {
    width: 44px;
    height: 24px;
    top: 20px;
    left: 414px;
    border-radius: 20px;

    padding-right: 10px;
    padding-left: 10px;

    background-color: #22222280;
}

/* .post_img_container .indicator .indicator_text {
    width: 24px;
    height: 18px;

    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    color: #FFFFFF;
} */

/* .post_img_container .slider {
    width: 20px;
    height: 20px;
    border-radius: 999px;

    background-color: #FFFFFF99;
    color: #FFFFFF99;
} */

.post_content_img {
    width: 474px;
    height: 474px;
}

.reaction {
    display: flex;
    width: fit-content;
    height: 30px;
    border-radius: 8px;

    /* padding: 6px 12px 6px 12px; */

    background-color: #2222220D;
}

.post_content_text {
    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    margin-top: 16px;
    margin-bottom: 25px;
}

.date {
    font: 400 14px/18px "Golos UI";
    letter-spacing: -0.15px;

    color: #22222280;
}

.like_symbol {
    display: flex;
    align-items: center;
    width: 16px;
    height: 18px;

    /* margin: 6px 3px 6px 12px; */
    padding: 6px 3px 6px 12px;
}

.likes_counter {
    display: flex;
    align-items: center;
    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;

    margin-right: 10px;
}